#EMC_cfg_bg {
	background-color: rgba(125, 125, 125, 0.4) ;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	z-index: 1000;
	display: none;
}
/* reset bootstrap input : we dont want display block and width 100% anymore */
.bootstrap .form-control, .bootstrap input[type="text"], .bootstrap input[type="search"], .bootstrap input[type="password"], .bootstrap textarea, .bootstrap select {
	display: inline;
	width: initial;
	padding: 2px;
}

.relative{
	position:relative;
}

.alert_size,
.default_alert_size{
  width: 400px;
}

.text_align_right{
	text-align:right
}

.text_align_center{
	text-align: center;
}

.floatleft{
	float: left;
}

.valignmiddle{
	vertical-align: middle;
}

.fullwidth{
	width: 100%;
}

.width100
{
	width: 100px;
}

.font-size10{
  font-size:10px;
}

.green_color{
	color: green;
}

.red_color{
	color: green;
}

/* Margin && padding */

.padding5{
	padding:5px;
}

.mt10{
	margin-top: 10px;
}

.mt20{
	margin-top:20px;
}

.ml10{
	margin-left:10px;
}

.ml20{
	margin-left:20px;
}

.mr5{
	margin-right: 5px;
}

.mb15{
  margin-bottom: 15px;
}

.bold{
	font-weight:bold;
}

.list-style-square{
	list-style-type:square;
}

.no-list-style{
	list-style-type:square;
}

.presta_1_6{
	margin:0 0 0 -30px;
	width: 88%;
	height:100%;
}
.presta_1_5{
	width: 100%;
	margin: 0 -15px;
}

#help-update{
margin-bottom:50px;
}

.version{
	font-weight:normal;
	font-size:12px;
	margin-left:20px
}

.title-help{
border:1px solid #AAD;
background-color:#CCF;
padding:10px;
text-align:center;
width:98.5%;
margin:0 0 25px 0;
}
.main-question{
list-style-type:none;
margin:30px 0px 13px 30px;
}
.main-question h3{
text-decoration:underline;
margin:0;
}
.sub-questions{
margin:5px 0 5px 20px;
padding-left:40px;
list-style-type:decimal;
}

#EMC_cfg_bg > #EMC_Content {
	width: 75%;
	margin: 30px auto;
	background: white;
	padding: 15px;
	display: block;
}

#EMC_cfg_bg > #EMC_Content > .EMC_steps {
	position: relative;
	display: block;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0 0 10px 0;
	clear: both;
	width: 100%;
}

#EMC_cfg_bg > #EMC_Content > .EMC_steps > li {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	width: 25%;
}

#EMC_cfg_bg > #EMC_Content > .EMC_steps > li > a {
	height: 32px;
	display: block;
	position: relative;
	margin: 0;
	padding-right: 25px;
	text-decoration: none;
	outline-style: none;
	z-index: 99;
	overflow: hidden;
	color: #878787;
	cursor: text;
	background: #cbcccb url('../img/steps-carrierwizard.png') no-repeat right -64px;
}

#EMC_cfg_bg > #EMC_Content > .EMC_steps > li > a.selected {
	background-position: right -32px;
	background-color: #404956;
	color: #F8F8F8;
}

#EMC_cfg_bg > #EMC_Content > .EMC_steps > li > a.selected.old {
	background-position: right 0px;
	color: #A9B6C8;
}

#EMC_cfg_bg > #EMC_Content > .EMC_steps > li > a > label.stepNumber {
	position: relative;
	float: left;
	width: 24px;
	height: 32px;
	text-align: center;
	padding: 0 5px;
	padding-top: 0;
	font-size: 30px;
	line-height: 32px;
	color: #fffffe;
	text-shadow: none;
	font-weight: normal;
	font-style: normal;
}

#EMC_cfg_bg > #EMC_Content > .EMC_steps > li > a.old > label.stepNumber {
	color: #A9B6C8;
}

#EMC_cfg_bg > #EMC_Content > .EMC_steps > li > a > span.stepDesc {
	position: relative;
	text-align: left;
	font-size: 15px;
	height: 32px;
	display: table-cell;
	vertical-align: middle;
	line-height: 13px;
}

#EMC_cfg_bg > #EMC_Content > div {
	overflow: auto;
	height: 400px;
	width: 100%;
	margin-bottom : 10px;
}

#EMC_cfg_bg > #EMC_Content > div > fieldset {
	max-width: 100%;
	box-sizing: border-box;
}

#EMC_cfg_bg > #EMC_Content > div > fieldset input[type=submit]{
	display: none;
}

#EMC_cfg_bg > #EMC_Content > .actionBar {
	display: block;
	position: relative;
	clear: both;
	padding: 0;
	text-align: left;
	overflow: auto;
	z-index: 88;
	background-color: #f7f8f7;
	border: 1px solid #caccca;
	height: 37px;
	margin-bottom: 20px;
	text-align: right;
}

#EMC_cfg_bg > #EMC_Content > .actionBar > a {
	display: inline-block;
	margin: 5px 10px 0 3px;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	width: 100px;
	color: #F8F8F8;
	outline-style: none;
	background-color: #CCCCCC;
	border: 1px solid #CCCCCC;
	cursor: text;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: not-allowed;
}

#EMC_cfg_bg > #EMC_Content > .actionBar > a.selected {
	color: #FFF;
	background-color: #5A5655;
	border: 1px solid #5A5655;
	cursor: pointer;
}

#EMC_cfg_bg #EMC_carriers > fieldset > table.offersList tr > td {
	min-width: 1px;
}

#EMC_Content .EMC_error {
	color: red;
}

#EMC_Content > div > fieldset{
	min-height:400px;
	margin-bottom:0px;
}

#allOffersTable .error_size{
  width:400px;
}

#allOffersTable .table{
  width:870px;
}

#tableContent .alert-size{
	width: 440px;
}

/*******************************************/

#EMC_top {
margin: 15px 0px;
}

/** MENU **/
#EMC_top > #EMC_Menu {
	margin: 20px auto;
}

#EMC_Menu > ul{
	display: inline-block;
	list-style-type: none;
	padding-left:10px;
}
/*** Tab ***/
#EMC_Menu > ul > li {
	display: inline-block;
	width: 120px;
	margin: 0px 10px;
	height: 120px;
	text-align: center;
	border: 1px solid #A0A0A0;
	border-radius: 5px;
	background: #F4F6FA;
	/*box-shadow: 0px 0px 11px #999;*/
	cursor: pointer;
	position: relative;
}


#EMC_Menu > ul > li > a {
	background-repeat: no-repeat;
	background-image: url('../img/menu-sprite.png');
	display: block;
	width: 48px;
	height: 48px;
	margin: 15px auto;
}

#EMC_Menu > ul > li > a + div {
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 35px;
}

/**** Merchant ****/
#EMC_Menu > ul > li.merchant > a {
	background-position: -144px -48px;
}

#EMC_Menu > ul > li.merchant:hover > a,
#EMC_Menu > ul > li.merchant.active > a {
	background-position: -144px 0px;
}

/**** Settings ****/
#EMC_Menu > ul > li.settings > a {
	background-position: -48px -48px;
}

#EMC_Menu > ul > li.settings:hover > a,
#EMC_Menu > ul > li.settings.active > a {
	background-position: -48px 0px;
}

/**** Carriers Simple & Advanced ****/
#EMC_Menu > ul > li.simulator > a,
#EMC_Menu > ul > li.simple_carriers > a,
#EMC_Menu > ul > li.advanced_carriers > a {
	background-position: 0px -48px;
}

#EMC_Menu > ul > li.simulator:hover > a,
#EMC_Menu > ul > li.simple_carriers:hover > a,
#EMC_Menu > ul > li.advanced_carriers:hover > a,
#EMC_Menu > ul > li.simulator.active > a,
#EMC_Menu > ul > li.simple_carriers.active > a,
#EMC_Menu > ul > li.advanced_carriers.active > a {
	background-position: 0px 0px;
}

/**** Sends ****/

.pickupDaylist{
	width: 30px;
}
.pickupFrom_date{
	width:70px;
}

.labelDeliveryDate{
	width:250px;
}

#EMC_Menu > ul > li.sends > a {
	background-position: -96px -48px;
}

#EMC_Menu > ul > li.sends:hover > a,
#EMC_Menu > ul > li.sends.active > a {
	background-position: -96px 0px;
}

/**** Settings ****/
#EMC_Menu > ul > li.simulator > a {
	background-position: -237px -47px;
}
#EMC_Menu > ul > li.simulator:hover > a {
	background-position: -237px 0px;
}

#EMC_Menu > ul > li.help > a {
	background-position: -191px -48px;
}

#EMC_Menu > ul > li.help:hover > a,
#EMC_Menu > ul > li.help.active > a {
	background-position: -191px 0px;
}

#multiParcelRow #errorMultiParcel{
	width:160px;
}

/** Fast configuration **/
#EMC_top{
	margin-top: 20px;
}
#EMC_top > #EMC_Globals {
	float:left;
	width:330px;
	margin-right:15px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-top: 10px;
}

#EMC_top > #EMC_Globals > #EMC_state img {
	margin-bottom: 3px;
}

#EMC_top > #EMC_Globals > div label {
	float: none;
	display: inline-block;
	width: auto;
}

#EMC_top > #EMC_Globals > div + img {
	margin-bottom: 5px;
}

#EMC_top > #EMC_Globals .margin-form {
	clear: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align:middle;
	float:right;
}

#EMC_top > #EMC_Globals .margin-form > input[type=radio] {
	margin-bottom: 5px;
}

#EMC_top > #EMC_Globals .margin-form > label {
	font-weight: normal;
}

/** Environment **/
#EMC_env {
	cursor: pointer;
}

/** Content **/
#EMC_Content fieldset {
	font-size: 12px;
}
#EMC_Infos{
min-height:160px;
}

#EMC_Infos a,#EMC_top a, #EMC_Content a {
	color: #268CCD;
	text-decoration:underline;
}

#EMC_Content fieldset + fieldset,
#EMC_Content + #EMC_help{
	margin-top: 10px;
}

#EMC_Content .margin-form {
	clear: none;
	padding: 0 0 1em 0px;
	display: inline-block;
}

#EMC_Content .margin-form + .tooltip + .clear + .margin-form {
	padding-top: 0;
	padding-left: 260px;
	margin-top: -1em;
}

.margin-form + .tooltip {
	margin-left: 5px;
	display: inline-block;
	vertical-align: top;
	height: 16px;
	width: 16px;
	background: url('../img/tooltip.png') center center no-repeat;
	cursor: help;
	opacity:1;
	z-index:1;
}

#EMC_Content .margin-form > label {
	width: auto;
	float: none;
}

#EMC_Content .margin-form select {
	min-width: 80px;
}

#EMC_Content .margin-form input[type=text],
#EMC_Content .margin-form input[type=password],
#EMC_Content .margin-form textarea {
	width: 210px;
}

#EMC_Content .margin-form sup {
	vertical-align: top;
}

#EMC_Content table.offersList {
	width: 100%;
	border-collapse: collapse;
}

#EMC_Content table.offersList tr.disabled {
	background-color: #EEE;
}

#EMC_Content table.offersList tr.disabled > td,
#EMC_Content table.offersList tr.disabled > td label{
	color: #999;
}

/** Carriers **/

#EMC_carriers > table.offersList > thead > tr > th {
	text-align: center;
}

/**** Offer ****/
#EMC_carriers > table.offersList tr > th.offer,
#EMC_carriers > table.offersList tr > td.offer {
	width: 25%;
}

#EMC_carriers > table.offersList tr > td.offer {
	text-align: right;
}

/**** Price ****/
#EMC_carriers > table.offersList tr > td.price {
	text-align: right;
}

#EMC_carriers > table.offersList tr > td.price label,
#EMC_carriers > table.offersList tr > td.offer label {
	float: none;
	display: inline-block;
	width: auto;
}

/**** Description ****/
#EMC_carriers > table.offersList tr > th.desc,
#EMC_carriers > table.offersList tr > td.desc {
	width: 45%;
}


#EMC_carriers > table.offersList tr > th.status,
#EMC_carriers > table.offersList tr > td.status {
	width: 10%;
	text-align: center;
}

#EMC_carriers > table.offersList tr > td input[type=checkbox],
#EMC_carriers > table.offersList tr > td input[type=radio] {
	margin-top: 3px;
}

#EMC_carriers > table.offersList tr > td .toggleCarrier{
	cursor: pointer;
}

#EMC_carriers > table.offersList tr.disabled > td .toggleCarrier{
	cursor: default;
	opacity: 0.7;
}

#EMC_carriers > table.offersList tr > td div.hide{
	display: none;
}

/** Sends **/
#EMC_Sends > form > .margin-form > p.preference_description > input[type=checkbox] {
	margin-top: -3px;
}


.borderBlock {
	width:250px; 
	display: inline-block;
	padding:10px; 
	border:1px solid #DFD5C3; 
	margin-right:10px;
}

.upgradeList {
	width: 100%;
}

#menu_tabs {
	position: relative;
	z-index: 100;
	margin-bottom:5px;
}

#menu_tabs > li {
	border: 1px solid #CCC;
	border-bottom: 0;
	display: inline-block;
	padding: 6px 15px;
	background: #EBEDF4;
	cursor: pointer;
}

#menu_tabs > li.selected {
	padding: 6px 15px;
	border: 1px solid #888;
	border-bottom: 0;
	color:black;
	position: relative;
	z-index: 10;
	cursor: default;
}

#menu_tabs + #tabs {
	border: 1px solid #AAA;
	padding: 15px;
	position: relative;
	z-index: 100;
	margin-top: -1px;
}

#menu_tabs + #tabs > .tab {
	display: none;
}

#menu_tabs + #tabs > .tab:first-child {
	display: block;
}

.getParcelPoint {
	display: inline-block;
	border: 1px solid transparent;
	padding: 2px 4px;
	color: blue;
}

.thousand_box{
	width:1000px;
	height:1000px;
}

.wating_loader_point{
	margin-top:3px;
	margin-right:4px;
}

.list_points_loaded{
	display:none;
	min-width:300px;
}

#emc-infos{
width:50%;
float:left;
}

#emc-news{
font-size:15px;
padding:0 0 20px 0;
float:right;
width:50%;
height:auto;
display:block;
}

#emc-news h4{
margin:0 0 0 auto;
max-width:830px;
height:30px;
}

#emc-news ul{
height:170px;
overflow-y:auto;
list-style-type:none;
}

#emc-news li {
margin-left:auto;
max-width:800px;
border: 1px solid #999;
padding:3px 8px;
margin-bottom:5px;
border-radius:5px;
box-shadow: 0 0 11px #999;
}

.emc-alert{
background-color:#FFEEEE;
}
.emc-info{
background-color:#EEEEFF;
}
.emc-update{
background-color:#EEFFEE;
}

.emc-alert b{
color:red;
}
.emc-info b{
color:blue;
}
.emc-update b{
color:green;
}


/*****************************************************************************************/

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
	border-radius: 5px; 
	border: 1px solid #000;
	background: #4c4c4c;
	color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
	font-family: inherit;
	font-size: 11px;
	line-height: 20px;
	padding: 0px 5px;
	overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}

/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-base .tooltipster-content {
	overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
	display: block;
	width: 0; 
	height: 0;
	position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -8px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -8px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -8px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -8px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-left: 8px solid;
	top: 50%;
	margin-top: -8px;
	right: -8px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-left: 9px solid;
	margin-top: -8px;
	display: none;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-right: 8px solid;
	top: 50%;
	margin-top: -8px;
	left: -8px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-right: 9px solid;
	margin-top: -10px;
	display: none;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}
.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0px !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0px !important;
	opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
	opacity: 0.5;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.action_module{
cursor:pointer;
}

.hidden{
display:none;
}

#introduction ul{
margin-top:0px;
}

#introduction .important,#introduction .important a{
font-weight:bold;
color:#268ccd;
}

#logo_intro{
float:right;
width:400px;
height:110px;
margin-left:10px;
margin-right:-20px;
}

#logo_intro a{
background-repeat: no-repeat;
background-image: url('../img/logo-emc-large.png');
display: block;
width:400px;
height:110px;
}

/* fixed size fancybox */
/*.fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-frame{
width:1000px !important;
height:760px !important;
}*/

.prestashop-switch > .radioCheck{
text-shadow:0 0 white !important;
}
.prestashop-switch > .module_online{
padding-left:10px !important;
padding-right:10px !important;
}
.prestashop-switch > .module_offline{
padding-left:15px !important;
}
.prestashop-switch > .api_test{
padding-left:30px !important;
}
.prestashop-switch > .api_prod{
padding-left:5px !important;
padding-right:20px !important;
}

.prestashop-switch > .cover
{
	position: absolute;
	display: block;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 3;
}

.over-config{
height:26px;
margin-bottom:5px;
}
.over-config > label{
margin-top:3px;
}
#cleanCache{
color:#555555 !important;
text-decoration:none !important;
width:160px;
}
#cleanCache:hover{
color:white !important;
}

.EMC_switch{
float:right;
width:50px;
}

.emc-required{
color:red;
}

